:root {
    --color-text: #414346;
    --color-bar:#9b8f8f;
    --first: #112031;
    --second: #152d35;
    --third: #345b63;
    --fourth: #d4ecdd;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto";
    height: 100vh;
    width: 100%;
}
.navbar {
    width: 100%;
    height: 7%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 1%;
    box-shadow: 2px 0 10px 0 var(--first);
    font-size: 25px;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
    font-weight: 700;
}
div.kpi{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
}