:root {
    --color-text: #414346;
    --color-bar:#9b8f8f;
    --first: #112031;
    --second: #152d35;
    --third: #345b63;
    --fourth: #d4ecdd;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: -webkit-linear-gradient(to bottom, var(--third),var(--second));
    background: linear-gradient(to bottom, var(--third),var(--second));
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 100vh;
}
h1{
    text-align: center;
    font-weight: 700;
}
form{
    margin: 3% 37.5%;
    width: 30%;
    background: white;
    padding: 20px 0;
    box-shadow: 2px 2px 6px 0 var(--first);
    border-radius: 10px;
}
form .group{
    position: relative;
    margin: 20px;
}
input{
    background: none;
    color: #000000;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1.2px solid var(--color-bar);
}
input:focus{
    outline: none;
    color: #000000;
}

label{
    color: var(--color-text);
    font-size: 15px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label, input:valid~label{
    top: -12px;
    font-size: 12px;
    color: var(--first);
}
.bar{
    position: relative;
    display: block;
    width: 100%;
}

.bar::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, var(--fourth), var(--second));
    transition: 0.3s ease width;
    left: 0px;
}

input:focus~.bar::before{
    width: 100%;
}
button{
    font-family: 'roboto';
    width: 40%;
    background: var(--third);  /* fallback for old browsers */
    border: none;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background: white;
    color: var(--third);
    transition: 0.3s ease-in-out all;
}
.content-button{
    padding: 10px 20px 0 20px;
    display: flex;
    justify-content: space-between;
}
select{
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    font-size: 15px;
}
span{
    width: 100%;
    left: 5px;
    display: block;
    position: relative;
    margin-bottom: 12px;
    font-size: 15px;
}
.group2{
    color: var(--color-text);
    margin: 20px 20px 20px 20px;

}
nav{
    width: 100%;
    height: 70px;
    background-color: white;
    padding: 15px 0px 15px 8px;
    box-shadow: 2px 0 10px 0 var(--first);
    font-size: 25px;
}
table{
    background-color: white;
    border-spacing: 20px;
    width: 80%;
    border-collapse: collapse;
    box-shadow: 2px 2px 6px 0 #112031;
    font-size: 20px;
}
table.builds{
    width: 60%;
    font-size: 25px;
}

div.content-table-user{
    display: flex;
    align-items: center;
    margin-top: 5%;
    flex-direction: column;
}

div.content-table-dataBuilds{
    display: flex;
    align-items: center;
    margin-top: 5%;
    flex-direction: column;
}

div.content-table-builds-model{
    display: flex;
    align-items: center;
    margin-top: 5%;
    flex-direction: column;
}

table.update-model{
    width: 60%;
    font-size: 25px;
}

table.builds-application{
    width: 35%;
    font-size: 25px;
}

div.content-button-builds{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

td, th{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
thead{
    color: white;
    background-color: var(--second);
    border-bottom: solid 1px #112031;
}

tr{
    text-align: center;
}

tr:nth-child(even){
    background-color: #F7F7F7;
}

tr:hover td{
    background-color: var(--fourth);
}

.table-title{
    color: white;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 700;
}
a:hover{
    text-decoration: none !important;

}
a{
    color: #000000 !important;
    font-weight: 400 !important;
}

div.content-table-manage{
    margin-top: 2%;
}
.content-button-manages{
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 40%;
    margin-top: 2%;
}

button.manages{
    background-color: var(--third);
}

button.manages:hover{
    background: white;
    color: black;
    transition: 0.3s ease-in-out all;
}

button.builds{
    width: 15rem;
    font-size: 20px;
}

button.builds:hover{
    background-color: white;
    color: black;
}